.footer {
  border: 1px solid rgb(207, 234, 255);
  background-color: rgb(215, 235, 250);
  border-radius: 13px;
  margin: 10px auto 20px;
  max-width: 1440px;
  display: flex;
  justify-content: left;
}

.name {
  margin: 13px;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 150%;
  font-weight: lighter;
}

@media (max-width: 1460px) {
  .footer {
    margin: 10px 10px 20px;
  }
}
